/* css/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    text-align: justify;
}

h2 {
    color: #333;
    margin-top: 30px;
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

ul {
    list-style-type: disc; /* Standard bullet points for unordered lists */
    padding-left: 20px; /* Indentation for bullet points */
}

ul ul {
    list-style-type: circle; /* Different bullet style for nested lists */
    margin-left: 20px; /* Indentation for nested lists */
}

ul li {
    margin-bottom: 20px; /* Space between list items for readability */
}

.video {
    margin-top: 10px; /* Space above each video */
    margin-bottom: 30px; /* Space below each video for separation */
}

b {
    font-weight: bold; /* Ensuring bold font-weight for bold elements */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
